{% extends 'layout.html' %}

{% block content %}
  <div class="container">
    <div style="margin-bottom: 10px">
      <a class="btn btn-primary clearfix" href="/admin/add/" >创建管理员</a>
      <div style="float:right;width:300px" >
        <form method="get" >
         <div class="input-group">
           <input type="text" class="form-control" placeholder="Search for..." name="key" value="{{ search_data }}">
           <span class="input-group-btn">
             <button class="btn btn-default" type="submit">
               <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
             </button>
           </span>
         </div><!-- /input-group -->
        </form>
      </div>

    </div>


    <div class="panel panel-default">
      <div class="panel-heading">管理员列表</div>

      <table class="table table-bordered">
        <thead>
        <tr>
          <th>ID</th>
          <th>姓名</th>
          <th>密码</th>
          <th>重置密码</th>
          <th>操作</th>
        </tr>
        </thead>
        <tbody>
        {% for obj in data_list %}
        <tr>
          <th>{{ obj.id }}</th>
          <td>{{ obj.name }}</td>
<!--          将密码设置为无法查看（设为符号标识）-->
          <td>*********</td>
          <td>
            <a href="/admin/{{ obj.id }}/reset/">重置密码</a>
          </td>
          <td>
            <a class="btn btn-primary btn-xs" href="/admin/{{ obj.id }}/edit/">编辑</a>
            <a class="btn btn-danger btn-xs" href="/admin/{{ obj.id }}/delete/">删除</a>
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>

    </div>
    <ul class="pagination">
        {{ page_string }}
     </ul>
  </div>



{% endblock %}